<!DOCTYPE html>

<html>
    <head>
        <title>Calender Website</title>
        
        <link rel="stylesheet" href="SignUpStyles.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav class="Navbar">
            <div class="NavTitleDiv">
                <a href="/" class = "NavTitle">
                    Calender Website
                </a>
            </div>
        </nav>

        <div class="MainBody ColorA">
            <div class="MainBox ColorB">
                <h1 class="BoxTitle">Sign Up</h1>

                
                <form action="/auth/signup" method="POST" class="BoxForm">
                    <div class="BoxFormHolder">
                        <div class="BoxFormText">
                            <label for="email">Email: </label><br>
                            <label for="username"> Username:</label><br>
                            <label for="password">Password:</label><br>
                        </div>
                        <div class="BoxFormInput">  
                            <input type="email" id="EmailForm" name="email" class="DataInputField" required>
                            <br>
                            <input type="text" id="UserNameForm" name="username" class="DataInputField" required>
                            <br>
                            <input type="password" id="PasswordForm" name="password" class="DataInputField" required>
                        </div>
                    </div>

                    <div class="BoxBottom">
                        <button type="submit" class="SignInButton">
                            Sign Up
                        </button>
    
                        <a href="/login" class="LogInButton">
                            Log In
                        </a>
                    </div>
                </form>

                

            </div>
        </div>
    </body>
</html>